In [24]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [25]:
data = pd.read_csv("Kuramoto_data.txt", sep=" ", header=None)

In [26]:
data

,0,1,2,3,4,5,6,7,8,9,...,91,92,93,94,95,96,97,98,99,100
0,0.826195,2.88335,1.37633,4.26535,5.87133,3.26489,0.216119,3.32944,0.047101,0.419118,...,5.852360,1.35298,5.70940,5.40751,3.18039,5.13565,2.90593,3.97598,5.18045,NaN
1,0.825562,2.88652,1.37745,4.26512,5.86817,3.26751,0.213797,3.33193,0.044442,0.417289,...,5.849190,1.35403,5.70621,5.40451,3.18317,5.13306,2.90908,3.97669,5.17777,NaN
2,0.824532,2.89145,1.37917,4.26475,5.86319,3.27158,0.210123,3.33579,0.040243,0.414385,...,5.844200,1.35564,5.70120,5.39979,3.18749,5.12898,2.91398,3.97778,5.17356,NaN
3,0.823037,2.89841,1.38158,4.26423,5.85611,3.27732,0.204889,3.34124,0.034268,0.410239,...,5.837110,1.35788,5.69409,5.39311,3.19357,5.12320,2.92089,3.97931,5.16761,NaN
4,0.820976,2.90775,1.38478,4.26353,5.84657,3.28503,0.197796,3.34856,0.026183,0.404606,...,5.827550,1.36087,5.68451,5.38412,3.20175,5.11544,2.93016,3.98137,5.15960,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,4.460580,4.39089,4.02924,4.33443,4.28187,4.58094,3.900250,4.59252,4.703650,5.973550,...,-5.753600,2.60713,3.97264,1.57757,-3.45645,4.45160,3.67143,5.00817,-3.02043,NaN
9996,4.650160,4.50275,4.15911,4.46331,4.49161,4.40955,3.953640,4.69479,4.561310,5.991950,...,-6.279820,2.90768,3.80942,1.83334,-3.25330,4.44624,3.76045,5.03127,-3.25823,NaN
9997,4.834610,4.61865,4.31372,4.59868,4.70609,4.24797,4.042910,4.78918,4.419370,5.948760,...,-0.584441,3.27025,3.68902,2.11378,-2.98793,4.44843,3.89445,5.02653,-3.43379,NaN
9998,5.003320,4.73252,4.48568,4.73332,4.91294,4.10777,4.165450,4.87067,4.288160,5.842710,...,-1.229840,3.69503,3.61888,2.43402,-2.66077,4.45951,4.06949,4.99447,-3.54598,NaN
9999,5.146120,4.83786,4.66553,4.85936,5.09953,3.99932,4.316320,4.93460,4.177670,5.673620,...,-1.904210,4.17240,3.60431,2.80932,-2.27818,4.48019,4.27850,4.93702,-3.59440,NaN

In [27]:
N = 10

data.iloc[0][0]

0.826195